* {
    font-family: monospace;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1em;
    gap: 1em;
}

.logo {
    width: 75px;
    height: auto;
}